.member-box {
    margin: 0 0 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(54, 1, 56, 0.1);
    transition: all 0.3s;
}